function Main.main 9
call Map.new 0
pop local 0
push local 0
call IBlock.new 1
pop local 2
push local 0
call Map.printCells 1
pop temp 0
push local 0
call Map.dispose 1
pop temp 0
push constant 0
return
